<h1>Actualizar Residente</h1>

<%= form_for @user do |f| %>
<%= link_to "ver todos", user_path %>

<p>
    <%= f.label :name, "Nombre" %><br>
    <%= f.text_area :name %>
  </p>

  <p>
    <%= f.label :doument, "Documento de identidad" %><br>
    <%= f.text_area :document %>
  </p>

  <p>
    <%= f.label :apartment, "Apartamento" %><br>
    <%= f.text_area :apartment %>
  </p>

 <p>
    <%= f.submit %>
 </p>
<% end %>