<h1>Introduce Nuevo Apartamento</h1>

<%= form_for @apartment do |f| %>

  <p>
    <%= f.label :number, "Número del apartamento" %><br>
    <%= f.text_area :number %>
  </p>

  <p>
    <%= f.label :floor, "Piso" %><br>
    <%= f.text_area :floor %>
  </p>

  <p>
    <%= f.label :tower, "Torre en la que se hubica" %><br>
    <%= f.text_area :tower %>
  </p>

   <p>
    <%= f.label :inhabitants, "Número de ocupantes" %><br>
    <%= f.text_area :inhabitants %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>